<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USB_Disk_Security_Crusader___Version_2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <USB_Disk_Security_Crusader___Version_2._0.Properties.Settings>
            <setting name="AutorunVirus" serializeAs="String">
                <value />
            </setting>
            <setting name="Quarantine" serializeAs="String">
                <value />
            </setting>
        </USB_Disk_Security_Crusader___Version_2._0.Properties.Settings>
    </userSettings>
</configuration>